
/* SECTION CONSLUT */
.consult .consult-img {
    position: relative; 
    background: url("/static/images/23467.png") no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.consult .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.consult .text h1{
    text-align: center;
}

/* FORMS */


.container-forms{
    margin-block-start: 40px;
}

/* FORMS Image */

.container-forms .img{
    display: grid;
    place-items: center;
}

.container-forms .img img{
    max-width: 350px;
    width: 100%;
}
/* FORMS form */
.container-forms .form{
    padding-inline: 30px;
}
.container-forms .form h1{
    color: var(--color-text);
    white-space: nowrap;
    padding-block: 30px;
}
.container-forms .form p{
    padding-block-end: 25px;
    font-weight: 700;
}

.container-forms .form span,
.container-forms .form label{
    float: right;
    margin-right: 10px;
}
.container-forms .form textarea,
.container-forms .form input{
    width: 100%;
    height: 50px;
    padding-inline: 20px;
    color: black;
    direction: rtl;
}

.container-forms .form input[type= 'text']{
    font-weight: 700;
}

.container-forms .form textarea{
    height: 100px;
}

.container-forms .form .btn{
    margin-block: 40px;
    max-width: 350px;
}

.btn-input{
    background-color: var(--color-btn);
    width: 100%;
    max-width: 150px;
    white-space: nowrap;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.btn-input:hover{
    background-color: var(--color-hover-btn);
    transition: 500ms ease-in-out;
}


@media screen and (min-width: 768px){
    /* SECTION CONSLUT */
    .consult .consult-img{
        height: 300px;
    }

    .consult .text h1{
        font-size: 2rem;
    }

    /* FORMS */
    .container-forms{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container-forms .form{
        padding-inline: 0px;
    }
}

@media screen and (min-width: 1024px){
    /* SECTION CONSLUT */
    .consult .consult-img{
        height: 300px;
    }
    .consult .text-consult h1{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1440px){
    /* SECTION CONSLUT */
    .consult .consult-img{
        height: 400px;
    }
    .consult .text-consult h1{
        font-size: 3rem;
    }
    /* FORMS */
    .container-forms{
        padding-inline: 130px;
    }
    /* FORMS forms*/
    .container-forms .form{
        min-width: 550px;
    }

    /* FORMS Image */

    .container-forms .img img{
        max-width: 450px;
    }
}


@media screen and (min-width: 1600px){
     /* SECTION CONSLUT */
     .consult .consult-img{
        height: 500px;
    }
    /* FORMS */
    .container-forms{
        padding-inline: 240px;
    }
}























.container-forms .form .errors{
    background-color: brown;
    width: 100%;
    height: 90px;
    display: none;
    place-items: center;
    border-radius: 3px;
    padding-inline: 15px;
} /* display None */

