input,
textarea {
    display: block;
    width: 100%;
}

.cu-contact-img-text {
    position: relative; 
    background: url("/static/images/23467.png") no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.cu-text-call {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.cu-contact {
    padding-inline: 20px;
}

.cu-contact img {
    width: 50px;
}

.cu-contact .cu-icon-text {
    margin-block: 30px;
}

/* forms */
.cu-form-contact {
    padding-inline: 30px;
    margin-block: 100px;
}

.cu-input-label {
    padding-block: 10px;
}

.cu-form-contact span,
.cu-form-contact label {
    float: right;
    margin-right: 10px;
}

.cu-form-contact input {
    height: 50px;
    color: #000;
    direction: rtl;
    padding-inline: 20px;
}

.cu-form-contact textarea {
    height: 100px;
    color: #000;
    padding: 5px;
    direction: rtl;
    padding-inline: 20px;
}


.cu-btn{
    background-color: var(--color-btn);
    width: 100%;
    max-width: 150px;
    white-space: nowrap;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.cu-btn:hover{
    background-color: var(--color-hover-btn);
    transition: 500ms ease-in-out;
}

@media screen and (min-width: 768px) {
    .cu-contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-block: 40px;
    }
    .cu-contact .cu-icon-text {
        display: grid;
        place-items: center;
    }
    .cu-form-contact {
        margin-inline: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .cu-contact-img-text {
        height: 300px;
    }
    .cu-text-call h1 {
        font-size: 2rem;
    }
    .cu-form-contact {
        margin-inline: 150px;
    }
}

@media screen and (min-width: 1440px) {
    .cu-contact-img-text {
        height: 400px;
    }
    .cu-text-call h1 {
        font-size: 3rem;
    }
    .cu-form-contact {
        margin-inline: 250px;
    }
}

@media screen and (min-width: 1600px) {
    .cu-contact-img-text {
        height: 500px;
    }
    .cu-form-contact {
        margin-inline: 350px;
    }
}
