{% extends 'base.html' %}
{% load static %}

{% block title %}طلب استشارة قانونيه{% endblock %}
{% block content %}
        <section class="consult">
            <div class="container">
                <div class="consult-img">
                    <img src="{% static 'images/23467.png'%}" alt="">
                </div>
        
                <div class="text">
                    <h1>احجز استشارتك القانونية الآن</h1>
                </div>
            </div>
        </section>
        
    
        <div class="container-forms">
            <div class="img">
                <img src="{% static 'images/osama-3.jpg'%}" alt="">
            </div>
        
            <div class="form">
                <form method="post" class="form">
                    {% csrf_token %}
            
                    <h1 style="text-align: right;">معًا لتحقيق أفضل النتائج القانونية</h1>   
                    <p style="text-align: right;">
                        احصل على السعر وعرض العمل عبر بريدك الإلكتروني
                    </p>    
            
                    {% if form.errors %}
                    <div class="errors">
                        <span>
                            <i class='bx bx-error-circle'></i>
                            فشل في إرسال النموذج. يرجى مراجعة البيانات التالية:
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.label }},
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
            
                    <div class="input">
                        <div>
                            <label for="{{ form.name.id_for_label }}">الاسم</label><span>(مطلوب)</span>
                        </div>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="errors error-wd-sm">
                                <p>
                                    <i class='bx bx-error-circle'></i>
                                    {{ form.name.errors.0 }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="input">
                        <label for="{{ form.email.id_for_label }}">البريد الالكتروني</label><span>(مطلوب)</span>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="errors error-wd-sm">
                                <p>
                                    <i class='bx bx-error-circle'></i>
                                    {{ form.email.errors.0 }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="input">
                        <label for="{{ form.phone.id_for_label }}">رقم الهاتف</label><span>(مطلوب)</span>
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <div class="errors error-wd-sm">
                                <p>
                                    <i class='bx bx-error-circle'></i>
                                    {{ form.phone.errors.0 }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="input">
                        <label for="{{ form.subject.id_for_label }}">سبب التواصل</label><span>(مطلوب)</span>
                        {{ form.subject }}
                        {% if form.subject.errors %}
                            <div class="errors error-wd-sm">
                                <p>
                                    <i class='bx bx-error-circle'></i>
                                    {{ form.subject.errors.0 }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="input">
                        <label for="{{ form.message.id_for_label }}">الرسالة</label><span>(مطلوب)</span>
                        {{ form.message }}
                        {% if form.message.errors %}
                            <div class="errors error-wd-sm">
                                <p>
                                    <i class='bx bx-error-circle'></i>
                                    {{ form.message.errors.0 }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
            
                    <button type="submit" class="btn btn-input">ارسال</button>
                </form>
            </div>
            
        </div>
{% endblock %}
