{% load static %}
<footer class="footer">
    
    <div class="container">
        

        <nav class="navbar-1">
            <h1>استكشف</h1>
            <ul class="navbar-list-1">
                <li>
                    <a href="#" class="navbar-link-1">الرئيسية</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">نبذة عني</a>
                </li>
                <li>
                    <a href="{% url "services"%}" class="navbar-link-1">الخدمات القانونية</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar-1">
            <h1>الشروط والأحكام</h1>
            <ul class="navbar-list-1">
                <li>
                    <a href="#" class="navbar-link-1"> أهم النقاط</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">عملاؤنا</a>
                </li>
                <li>
                    <a href="{% url 'conslut'%}" class="navbar-link-1">استشر الآن</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar-1">
            <h1>السياسات</h1>
            <ul class="navbar-list-1">
                <li>
                    <a href="#" class="navbar-link-1">سياسة الخصوصية</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">سياسة الاستخدام</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">الأسئلة الشائعة</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar-1">
            <h1>CONTACT</h1>
            <ul class="navbar-list-1">
                <li>
                    <a href="#" class="navbar-link-1">osamaabdelrhim@gmail.com</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">+201206281444</a>
                </li>
                <li>
                    <a href="#" class="navbar-link-1">فلمنج - شارع مصطفى كامل - الإسكندرية</a>
                </li>
            </ul>
        </nav>
    </div>


        <div class="social-icons">
            <a href="https://www.facebook.com/Lawyer.Osama.Abdelrhim" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.linkedin.com/in/osama-abdelrhim" target="_blank"><i class='bx bxl-linkedin' ></i></a>
            <a href="#"><i class='bx bxl-instagram' target="_blank" ></i></a>
            <a href="https://wa.me/201206281444" target="_blank"><i class='bx bxl-whatsapp'></i></a>
        </div>

</footer>
