{% extends 'base.html' %}
{% load static %}


{% block title %}الصفحة الرئيسية لمكتب الاستاذ أسامة عبدالرحيم {% endblock %}


{% block content %}

        


        <section class="hero"> 
            <div class="container">
                <div class="about">
                    <img src="{% static 'images/office.webp' %}" alt="">
                </div>
        
                <div class="persion-img">
                    <div>
                        <img src="{% static 'images/osama.webp' %}" alt="">
                    </div>
                    <div class="persion-text">
                        <h1>مكتب الأستاذ اسامة عبدالرحيم للمحاماه</h1>
                        <p>
                            مكتبنا في الإسكندرية تحت إشراف الأستاذ أسامة عبدالرحيم الحاصل على درجة الماجستير في القانون العام يقدم خدمات قانونية متخصصة باحترافية عالية
                        </p>
                        <button class="btn btn-hero">More About Us</button>
                    </div>
        
        
                    <div class="social-icons">
                        <a href="https://www.facebook.com/Lawyer.Osama.Abdelrhim" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.linkedin.com/in/osama-abdelrhim" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <a href="#"><i class='bx bxl-instagram'  target="_blank"></i></a>
                        <a href="https://wa.me/201206281444" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </div>
        
                
            </div>
        </section>
        
        
        <section class="Services">
            <div class="container">
                <div class="title-services">
                    <h1>
                        أقوى المحامين للدفاع عن حقوقك
                    </h1>
        
                    <p>
                        نحن نقدم لك دفاعًا قانونيًا قويًا يعتمد على الخبرة والاحترافية نحرص على حماية مصالحك بكل دقة ونعمل على تحقيق أفضل النتائج لك فريقنا المتخصص مستعد للوقوف بجانبك في أصعب القضايا لضمان حقوقك بكل قوة وعدالة
                    </p>
                </div>
        
                <div class="image-Services">
                    <div class="img-1">
                        <img src="{% static 'images/services1.png' %}" alt="">
        
                        <div class="text-1">
                                <h3>
                                    استشارات مجانيه 
                                </h3>
        
                                <p>
                                    استشار محامي الخاص بيك الان مجاني
                                </p>
                        </div>
                    </div>
        
                    <div class="img-1">
                        <img src="{% static 'images/services2.png' %}" alt="">
        
                        <div class="text-1">
                            <h3>
                                استشارات مجانيه 
                            </h3>
        
                            <p>
                                استشار محامي الخاص بيك الان مجاني
                            </p>
                        </div>
                    </div>
        
                    <div class="img-1">
                        <img src="{% static 'images/services3.png' %}" alt="">
        
        
                        <div class="text-1">
                            <h3>
                                استشارات مجانيه 
                            </h3>
        
                            <p>
                                استشار محامي الخاص بيك الان مجاني
                            </p>
                        </div>
                    </div>
        
        
        
                </div>
        
                <button class="btn btn-Services">استكشف خدماتنا</button>
            </div>
        </section>
        
        <section class="Testimonials">
            <div class="container">
                <div class="image-T-Testimonials">
                    <img class="main-image" src="{% static 'images/lawerbuild.webp' %}" alt="">
        
                    <div class="image-icon">
                        <div class="img-1-icon">
                            <div class="text-img">
                                <img src="{% static 'images/Icon-1.png' %}" alt="">
                                <h3>10K +</h3>
                            </div>
                            <span>Case Done</span>
                        </div>
                    
                        <div class="img-1-icon">
                            <div class="text-img">
                                <img src="{% static 'images/Icon-2.png' %}" alt="">
                                <h3>12K +</h3>
                            </div>
                            <span>Expert Attorneys</span>
                        </div>
                    
                        <div class="img-1-icon">
                            <div class="text-img">
                                <img src="{% static 'images/Icon-3.png' %}" alt="">
                                <h3>15K +</h3>
                            </div>
                            <span>Happy Client</span>
                        </div>
                    
                        <div class="img-1-icon">
                            <div class="text-img">
                                <img src="{% static 'images/Icon-4.png' %}" alt="">
                                <h3>20K +</h3>
                            </div>
                            
                            <span>Award Winning</span>
                        </div>
                    </div>
                    
            </div>
        </section>
        
        
        <section class="market">
            <div class="container">
                <h1 class="title">احجز استشارتك القانونية مجانًا
                </h1>
                <p class="dest" style="text-align: center;">
                    فريقنا من المحامين الخبراء جاهز يسمعك باهتمام، ويفهم تفاصيل موقفك عشان نقدر نساعدك بأفضل شكل
                </p>
        
                <div class="cards">
                    <a href="#" class="link-card">
                        <div class="card">
                            <img src="{% static 'images/Untitled+design+(4).png' %}" alt="">
                            <address>حدد الموعد اللي يناسبك</address>
                            <p>
                                اختار اليوم والساعة اللي تريحك، ومحامينا هيكون متوفر يناقش قضيتك معاك بكل اهتمام
                            </p>
        
        
                            <a href="#" class="more">
                                <i class='bx bx-right-arrow-alt'></i>
                                قراءة المزيد 
                            </a>
                        </div>
                    </a>
                    <a href="#" class="link-card">
                        <div class="card">
                            <img src="{% static 'images/Untitled+design+(5).png' %}" alt="">
                            <address>استشارتك القانونية وجهًا لوجه</address>
                            <p>
                                في الموعد المحدد، هتقابل محامي متخصص يجاوب على أسئلتك ويوضح لك حقوقك وخياراتك القانونية.                               
                            </p>
        
                            <a href="#" class="more">
                                <i class='bx bx-right-arrow-alt'></i>
                                قراءة المزيد 
                            </a>
                        </div>
                    </a>
                    <a href="#" class="link-card">
                        <div class="card">
                            <img src="{% static 'images/Untitled+design+(6).png' %}" alt="">
                            <address>خطتك القانونية للنجاح</address>
                            <p>
                                بعد ما نسمعك ونفهم كل التفاصيل، هنشتغل على إعداد خطة قانونية مخصصة تناسب حالتك وتحقق أفضل نتيجة ليك                              
                            </p>
                            <a href="#" class="more">
                                <i class='bx bx-right-arrow-alt'></i>
                                قراءة المزيد 
                            </a>
                        </div>
                    </a>
                </div> 
                </div>
            </div>
        </section>
        
        
        <section class="Articles">
            <div class="container">
                <div class="show-news">
                    <header class="head">
                        <div class="sider">
                            <button class="scroll-left">
                                <i class='bx bx-chevron-left'></i>
                            </button>
                            <button class="scroll-right">
                                <i class='bx bx-chevron-right'></i>
                            </button>
                        </div>
                    </header>
                    <div class="cards-articles sr">
                        <div class="card">
                            <img src="{% static 'images/new-1.png' %}" alt="">
                            <span>Mar 11, 2037</span>
                            <h4>10 نصائح ذهبية عند كتابة العقود التجارية</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-2.png' %}" alt="">
                            <span>Mar 16, 2040</span>
                            <h4>كيف تحمي نفسك قانونيًا عند شراء شقة أو عقار؟</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo1.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo2.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo3.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo4.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-1.png' %}" alt="">
                            <span>Mar 11, 2037</span>
                            <h4>10 نصائح ذهبية عند كتابة العقود التجارية</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-2.png' %}" alt="">
                            <span>Mar 16, 2040</span>
                            <h4>كيف تحمي نفسك قانونيًا عند شراء شقة أو عقار؟</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo1.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo2.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo3.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo4.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-1.png' %}" alt="">
                            <span>Mar 11, 2037</span>
                            <h4>10 نصائح ذهبية عند كتابة العقود التجارية</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-2.png' %}" alt="">
                            <span>Mar 16, 2040</span>
                            <h4>كيف تحمي نفسك قانونيًا عند شراء شقة أو عقار؟</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo1.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo2.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo3.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo4.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-1.png' %}" alt="">
                            <span>Mar 11, 2037</span>
                            <h4>10 نصائح ذهبية عند كتابة العقود التجارية</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/new-2.png' %}" alt="">
                            <span>Mar 16, 2040</span>
                            <h4>كيف تحمي نفسك قانونيًا عند شراء شقة أو عقار؟</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo1.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo2.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo3.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/photo4.webp' %}" alt="">
                            <span>Mar 30, 2057</span>
                            <h4>الفرق بين القضايا الجنائية والمدنية في القانون المصري</h4>
                        </div>
                    </div>
                </div>
                
        
                <div class="text-news">
                    <h4>أبرز الأخبار القانونية</h4>
        
                    <p>
                        نقدم لكم أحدث التطورات القانونية والقرارات القضائية الهامة التي تهم عملاءنا الكرام، مع شرح مبسط يساعدكم على فهم تأثيرها على قضاياكم وحقوقكم<br>
                        في هذا القسم نستعرض أبرز القوانين المستحدثة، وآخر التعديلات التشريعية، بالإضافة إلى متابعة دقيقة لأهم القضايا في المحاكم<br>
                        <strong>ابقوا على اطلاع دائم بكل جديد في عالم القانون، لأن المعرفة القانونية جزء من حماية حقوقكم</strong>
                    </p>
        
                    <button class="btn btn-articles">عرض كل الأخبار</button>
                </div>
            </div>
        
        
            <div class="card-text">
                <strong>لماذا تختار مكتبنا القانوني؟</strong>
                <p>
                    
        
                    نحن نؤمن بأن العدالة حق للجميع، ونعمل جاهدين على تحقيقها بأعلى درجات المهنية والشفافية. يتمتع مكتبنا بخبرة واسعة في مختلف التخصصات القانونية، مما يضمن لك الحصول على استشارات دقيقة، ودفاع قوي يحمي حقوقك في جميع المراحل القانونية.
        
        نعتمد على فريق من المحامين المتخصصين، الذين يجمعون بين المعرفة القانونية العميقة والفهم الواقعي للقضايا اليومية التي تواجه الأفراد والشركات. نلتزم بتقديم حلول قانونية مبتكرة، مع التركيز على سرعة الإنجاز وجودة الخدمة، بما يحقق مصلحة عملائنا بأفضل صورة ممكنة.
        
        سواء كنت تواجه نزاعًا قانونيًا، أو ترغب في استشارة قانونية قبل اتخاذ قرارات مصيرية، فإننا هنا لدعمك ومساعدتك بكل خبرتنا واحترافنا.
                </p>
            </div>
        </section>
        
        
        <section class="questions">
            <div class="container">
                <div class="image">
                    <img src="{% static 'images/osama-3.jpg' %}" alt="">
                </div>
        
                <div>
                    <h2 style="text-align: right;">إذا عندك أي استفسار، هنا هنرد على أهم الأسئلة اللي ممكن تدور في بالك</h2>
                    
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            ما هي خطوات الاستشارة الأولية؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
        
                        <div class="content">
                            <p>
                                الاستشارة الأولية بتكون جلسة مجانية مدتها 30 دقيقة تقريبًا، خلالها بنسمع منك تفاصيل مشكلتك القانونية، وبنشرح ليك لو مكتبنا هو الأنسب للتعامل مع قضيتك. تقدر تحجز الاستشارة من خلال الموقع أو بالاتصال بنا مباشرة.
                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            كيف بيتم حساب أتعاب المحاماة؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
        
                        <div class="content">
                            <p>
                                الأتعاب بتختلف حسب نوع القضية، وتعقيدها، والوقت المتوقع لإنهائها. في الاستشارة الأولية بنقدم ليك تصور مبدئي للتكاليف، سواء كانت نسبة من قيمة القضية، أو أتعاب ثابتة متفق عليها.                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            هل بتتعاملوا مع قضايا خارج مدينتكم أو في محافظات تانية؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
        
                        <div class="content">
                            <p>
                                نعم، مكتبنا بيقدم خدمات قانونية في جميع المحافظات، وكمان بنقدر نمثل موكلينا في بعض القضايا الدولية لو الموضوع بيتطلب ده. فريقنا عنده خبرة في التنسيق مع مكاتب قانونية خارجية لو لزم الأمر                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            هل ممكن أكلم محامي فورًا؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
        
                        <div class="content">
                            <p>
                                في الحالات العاجلة أو القضايا المستعجلة، بنوفر خدمة الاتصال الفوري بأحد المحامين المتخصصين. تقدر تتواصل معانا على الخط الساخن أو تبعت رسالة واتساب وهنرجع ليك خلال دقائق                           
                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            هل السرية مضمونة في التعامل مع المكتب؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
        
                        <div class="content">
                            <p>
                                طبعًا، كل المعلومات اللي بتشاركها معانا بتكون سرية تمامًا وبيتم التعامل معاها وفقًا لأعلى معايير الخصوصية القانونية.
                            </p>                       
                        </div>
                    </div>
        
                </div>
                
            </div>
        </section>


{% endblock %}
