{% extends 'base.html' %}
{% load static %}
    {% block title %}دليل المحامي{% endblock %}
{% block content %}

    <section class="lawer_guide">
            
        <div class="container">
            <!-- <div class="lawer-img">
                <img src="./static/lawerbuild.webp" alt="">
            </div> -->
            <div class="lawer-text">
                <div>
                    <h2 style="text-align: center;">التعريف بالمكتب</h1>
                    <p>
                        مرحبًا بكم في المكتب الأستاذ أسامة عبدالرحيم للمحاماة، نحن مكتب محاماة متخصص في تقديم الاستشارات والخدمات القانونية في مختلف المجالات. نحرص على تقديم الدعم القانوني اللازم لضمان تحقيق أفضل النتائج لعملائنا.
                    </p>
                    <strong>معلومات التواصل</strong>
                    <p>osamaabdelrhim@gmail.com</p>
                    <p>+201206281444</p>
                    <p>فلمنج - شارع مصطفى كامل - الإسكندرية</p>
                </div>
                <div>
                    <h2 style="text-align: center;">الخدمات القانونية المقدمة</h2>
                    <p>
                        نقدم مجموعة واسعة من الخدمات القانونية التي تلبي احتياجات الأفراد والشركات وتشمل
                        <ul style="text-align: right;">
                            <li class="lawer-lists">
                                <strong>القضايا الجنائية</strong>:  الدفاع عن المتهمين وتمثيل الضحايا في جميع القضايا الجنائية
                            </li>
                            <li class="lawer-lists">
                                <strong>القضايا المدنية</strong>:  معالجة النزاعات المدنية والمطالبات المالية
                            </li>
                            <li class="lawer-lists">
                                <strong>القضايا التجارية</strong>:  تأسيس الشركات، صياغة العقود التجارية، وتسوية المنازعات التجارية
                            </li>
                            <li class="lawer-lists">
                                <strong>الأحوال الشخصية</strong>:   قضايا الطلاق، النفقة، الحضانة، والميراث
                            </li>
                            <li class="lawer-lists">
                                <strong>القضايا العمالية</strong>:  الدفاع عن حقوق العمال وأصحاب العمل
                            </li>
                            <li class="lawer-lists">
                                <strong>التأمينات</strong>:  متابعة القضايا المتعلقة بالتأمين الصحي والاجتماعي
                            </li>
                        </ul>
                    </p>
                </div>
              
                <div>
                    
                    <h2 style="text-align: center;">الأسئلة الشائعة</h2>
                    
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            كيف يمكن بدء قضية قانونية؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
    
                        <div class="content">
                            <p>
                                يمكنكم التواصل معنا لحجز استشارة قانونية وسنقوم بمساعدتكم في تحديد الإجراءات اللازمة.
                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            ما هي المستندات المطلوبة لرفع دعوى؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
    
                        <div class="content">
                            <p>
                                يعتمد ذلك على نوع القضية، ولكن عمومًا تشمل الهوية الوطنية، العقود، الشهادات، وأي مستندات داعمة.
                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            كم تستغرق القضايا في المحاكم؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
    
                        <div class="content">
                            <p>
                                تختلف مدة التقاضي بناءً على طبيعة القضية والإجراءات المتبعة.             
                            </p>
                        </div>
                    </div>
                    <div class="Quest">
                        <button type="button" class="collapsible">
                            ما الفرق بين المحامي والمستشار القانوني؟
                            <i class='bx bx-chevron-down' ></i>
                        </button>
    
                        <div class="content">
                            <p>
                                المحامي مخول بتمثيل العملاء أمام المحاكم، بينما يقتصر دور المستشار القانوني على تقديم النصائح القانونية دون المرافعة.
                            </p>
                        </div>
                    </div>
    
    
    
    
    
                </div>
    
            </div>
        </div>
    </section>


{% endblock %}